@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: rgb(218, 216, 216);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    position: relative;
    width: 100%;
    width: 900px;
    height: 1200px;
    background: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgb(112, 104, 104);

}

.container .left_Side {
    position: relative;
    background: rgb(141, 106, 106);
    border-left: 35px solid rgb(255, 255, 255);
    padding: 30px 0;
}

.profText {
    position: relative;
    height: 30px;
    justify-content: center;
    margin-top: 20px;
    display: flex;
    align-items: center;
    background-color: rgb(207, 209, 211);
}

.profText h2 {
    margin-right: 5%;
    margin-left: 25%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.25em;
    text-align: end;
    color: rgb(54, 54, 54);
}

.profText .profIcon {
    width: 54px;
    display: flex;
    align-items: center;
    position: absolute;
    border-radius: 50%;
    border: 5px solid rgb(141, 106, 106);
    left: 5%;
}

.profText .profIcon img {
    width: 100%;
    object-fit: cover;
}

.profName {
    margin-top: 250px;
    text-align: center;
    border-bottom: 5px solid rgb(201, 200, 200)
}

.profName h2 {
    color: aliceblue;
    font-size: 2em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
    line-height: 1.4em;
}

.profDes {
    margin-top: 10px;
}

.profDes p {

    margin-top: 15px;
    margin-right: 25px;
    margin-left: 25px;
    line-height: .9em;
    text-align: center;
    color: aliceblue;
}

.profDes .contactList {
    margin-top: 1px;
    display: flex;
    align-items: center;
    margin-left: 1%;


}

.profDes .contactList img {
    width: 32px;

}

.profDes .contactList a {
    margin-left: 3px;
    font-size: 1.20em;
    color: aliceblue;

}

.language {
    display: flex;
    flex-direction: column;
    width: 80px;
    margin: 25px;
    margin-top: 20px;
}

.profDes .language .percent img {
    padding: 20px;
}

.profDes .language .text {
    text-decoration: none;
    font-size: 1.50em;
    color: aliceblue;
}

.profDes .hobbies {
    display: flex;
}

.profDes .hobbies .paint {
    padding: 20px;
    margin: 10px;
    width: 80px;
    margin-top: 2px;
}

.imageBx {
    position: absolute;
    margin: 0;
    left: 50%;
    z-index: 9;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 10px solid rgb(141, 106, 106);
    box-shadow: 6px 7px 9px 5px rgb(141, 106, 106);
    overflow: hidden;
}

.imageBx img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container .right_side {
    position: relative;
    background: rgb(253, 253, 253);

}

.border {
    margin-top: 100px;
    position: relative;
    text-align: center;
    border-bottom: 100px solid rgb(141, 106, 106);
}

.education {
    margin-top: 50px;
    text-align: center;
    border-bottom: 3px solid rgb(66, 66, 66);
    margin-left: 40px;
    margin-right: 40px;
}

.education h2 {
    color: rgb(141, 106, 106);
    font-size: 2.50em;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    margin-left: 30px;
    text-align: start;
    font-weight: 600;
}

.year h2 {
    color: rgb(61, 61, 61);
    font-size: 1.60em;
    margin-top: 20px;
    margin-left: 30px;
    text-align: start;
    font-weight: 800;
}

.year p {
    color: rgb(61, 61, 61);
    font-size: 1.30em;
    margin-left: 50px;
    text-align: start;
    font-weight: 750;

}

.year1 p {
    color: rgb(61, 61, 61);
    font-size: 1.40em;
    margin-left: 70px;
    text-align: start;
    font-weight: 600;
}

.skills {
    margin-top: 10px;
    text-align: center;
    border-bottom: 3px solid rgb(66, 66, 66);
    margin-left: 40px;
    margin-right: 40px;
}

.skills h2 {
    color: rgb(141, 106, 106);
    font-size: 2.50em;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    margin-left: 30px;
    text-align: start;
    font-weight: 600;
}

.graphicD {
    display: flex;
    align-items: end;
    position: relative;
}

.graphicD h2 {
    color: rgb(61, 61, 61);
    font-size: 1.40em;
    margin-left: 70px;
    text-align: start;
    font-weight: 600;
    width: 200px;
}

.graphicD img {
    width: 40px;
    margin-left: 20px;
}